body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1324px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:940px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:40px;
  width:1292px;
  height:940px;
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:799px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1019px;
  width:975px;
  height:799px;
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
